# Django関連
Django>=4.2,<5.0

# Webクローリング関連
requests>=2.31.0
beautifulsoup4>=4.12.0
lxml>=4.9.0 

# HTML/XML解析のサポート
html5lib>=1.1  # HTML5パーサー（オプション）



# ユーティリティ
python-dateutil>=2.8.0  

# データ操作
pandas==2.1.4ß
openpyxl==3.1.2